*{
    margin: 0 0 ;
    padding: 0 0;
}

body {
    overflow-x: hidden;
}

header{
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.index_img{
    width: 600vw;
}

.index_img li{
    width: 100vw;
    float: left;
    z-index: 1;

    /* transform: translateX(-100vw); 
    transition: 0.5s ease; */
}


.index_img li img{
    width: 100vw;
}

.leftButton{
    position: absolute;
    top: 30%;
    left: 0;
    background: rgb(90, 88, 88);
    width: 5vw;
    height: 20vh;
    font-size: 3rem;
    text-align: center;
    line-height: 20vh;
    opacity: 0.3;
    color: white;
    z-index: 2;
}

.leftButton:hover{
    opacity: 0.8;
    background: black;
    color: white;
    cursor: pointer;
}

.rightButton:hover{
    opacity: 0.8;
    background: black;
    color: white;
    cursor: pointer;
}

.rightButton{
    position: absolute;
    top: 30%;
    right: 0;
    background: rgb(90, 88, 88);
    width: 6vw;
    height: 20vh;
    font-size: 3rem;
    text-align: center;
    line-height: 20vh;
    opacity: 0.3;
    color: white;
    z-index: 2;
}

@media (max-width:800px){
    .leftButton{
        font-size: 2rem;
    }

    .rightButton{
        font-size: 2rem;
    }
}